
body{
   background: #f3f3f3;
   margin: 10px;
   margin-left: 50px;   
   margin-right: 50px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1{
   background-color: blue;
   padding: 5px;
   color: white;
}

h2{
   border-bottom: 2px solid;
   color: blue;
}

h3{
   background-color:#eee8e8;
   padding: 5px;
   border-left: 2px dotted #808080;
   color: blue;
}

ul, ol{
   background-color:#ded7d1;
   box-shadow: 5px 5px #bdb5b0;
   padding-top: 5px;
   padding-bottom: 5px;

}



